<div class="row">
  <%= bootstrap_form_for([@trip, @trip.hotel_segments.build])  do |f| %>
    <%= f.text_field :name, class: "input-lg", label: "Nombre del segmento" %>
    <%= f.text_area :description, class: "input-lg", label: "Descripcion corta" %>
    <%= f.text_field :direction, class: "input-lg", label: "Direccion del alojamiento" %>
    <%= f.text_field :start_date, data: { date_format: 'YYYY/MM/DD hh:mm A' }, required: true, class: "input-lg", label: "Fecha de inicio" %>
    <%= f.text_field :end_date , data: { date_format: 'YYYY/MM/DD hh:mm A' }, required: true, class: "input-lg", label: "Fecha de finalizacion"%>
    <%= f.submit "Guardar Segmento", class: "btn btn-lg btn-info btn-block col-lg-12"%>
  <% end %>
</div>
<script type="text/javascript">
  $(function () {
      $('#hotel_segment_start_date').datetimepicker({
      });
  });

  $('#hotel_segment_start_date').click(function(event){
     $('#hotel_segment_start_date').data("DateTimePicker").show();
  });
  $(function () {
      $('#hotel_segment_end_date').datetimepicker({
      });
  });

  $('#hotel_segment_end_date input').click(function(event){
     $('#hotel_segment_end_date ').data("DateTimePicker").show();
  });
</script>